.title {
  font-size: 59px;
  text-align: center;
  margin-top: 70px;
  color: #050e1f;
}

.title.darkTheme {
  font-size: 59px;
  text-align: center;
  margin-top: 70px;
  color: #dddad5;
}

.iconContainer {
  display: flex;
  justify-content: end;
  gap: 15px;
  margin-right: 150px;
}

.titleH2 {
  font-size: 2rem;
  text-align: center;
  color: #050e1f;
  margin-top: 45px;
}

.titleH2.darkTheme {
  font-size: 2rem;
  text-align: center;
  color: #dddad5;
  margin-top: 45px;
}
